[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/nakphn
[access "refs/for/refs/*"]
	read = group user/nakphn
	push = group user/nakphn
	label-Code-Review = -2..+2 group user/nakphn
	label-Verified = -1..+1 group user/nakphn
	rebase = group user/nakphn
	removeReviewer = group user/nakphn
	submit = group user/nakphn
[access "refs/heads/*"]
	read = group user/nakphn
	create = group user/nakphn
	push = +force group user/nakphn
	pushMerge = group user/nakphn
[access "refs/tags/*"]
	push = +force group user/nakphn
	pushTag = group user/nakphn
	pushSignedTag = group user/nakphn
